<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property scope="context" name="path" value="C://logger"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>C://logger/rest-server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>C://logger/rest-server-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>



    <logger name="org.hibernate.engine.query.spi" level="ERROR" />

    <!--<logger name="org.hibernate.stat" level="DEBUG" />-->
    <!--<logger name="org.hibernate.cache" level="DEBUG" />-->
    <!--<logger name="org.hibernate" level="DEBUG" />-->

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>
    </root>

</configuration>